<section id="profile">
    <div class="section__pic-container">
        <img src="{{profilepic}}" alt="{{name}} profile picture" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">{{name}}</h1>
        <p class="section__text__p2">{{role}}</p>

        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('{{cv}}')" )>Show Cv</button>
        </div>
        <div id="socials-container">
            <a href="{{linkedinUrl}}" target="_blank"><img src="/assets/linkedin.png" alt="My LinkedIn profile" class="icon" /></a>
            <a href="{{githubUrl}}" target="_blank"><img src="/assets/github.png" alt="My Github profile" class="icon" /></a>
        </div>
    </div>
    
</section>